body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
  color: blue;
}

h3 {
  text-align: center;
  color: pink;
}

.column {
  width: 500px;
  float: left;
  background-color: pink;
}

h4 {
  text-align: center;
}

p {
  font-style: italic;
}

.column p {
  color: blue;
  font-weight: bold;
}
